.button {
    composes: button from './Button.css';
    border-radius: 0;
}


.buttonActive {
    background-color: #f4f4f4;
}

.buttonDisabled {
    color: gray;
}

.button:not(:first-child) {
    border-left-color: transparent;
}

.button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


