@import './colors';

.button {
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
    border-radius: 5px;
    border: 1px solid transparent;
}

// Colors
.buttonDefault {
    background-color: white;
    border-color: $border-color;
    color: $text-color;
}

.buttonPrimary {
    background-color: $primary-color;
    color: white;
}

.buttonSuccess {
    background-color: $success-color;
    color: white;
}

.buttonWarning {
    background-color: $warning-color;
    color: white;
}

.buttonDanger {
    background-color: $danger-color;
    color: white;
}

// States
.buttonDisabled {
    background-color: #EEE;
    color: gray;
    cursor: not-allowed;
}

.buttonActive {
    background-color: lighten($border-color, 2%);
}

.button:not(.buttonDisabled):hover {
    background-color: darken($border-color, 2%);
}

.button:focus {
    outline: none;
}

.button:not(.buttonDisabled):active {
    background-color: #DDD;
}

// Sizes
.buttonXs {
    font-size: 0.8rem;
    padding: 0.3em;
}

.buttonSm {
    font-size: 0.8rem;
}

.buttonMd {
    font-size: 1rem;
}

.buttonLg {
    font-size: 1.2rem;
}

