$text-color: #333;
$primary-color: darken(#428bca, 6.5%) !default; // #337ab7
$success-color: #5cb85c !default;
$info-color: #5bc0de !default;
$warning-color: #f0ad4e !default;
$danger-color: #d9534f !default;